<%- include('partials/header.ejs');%>
<!--TESTE-->
<%- include('partials/homenavbar.ejs');%>

<body>
  <div class="container">
    <hr />

    <div class="jumbotron">
      <h1 class="display-4">MicroBlog</h1>
      <p class="lead">Um simples microblog</p>
      <hr class="my-2" />
      <p>More info</p>
      <p class="lead">
        <a class="btn btn-primary btn-lg" href="#" role="button">Saiba mais</a>
      </p>
    </div>

    <hr />

    <% articles.forEach(article => { %>
    <div class="card">
      <div class="card-header">
        <h2><%= article.title %></h2>
      </div>
      <div class="card-body">
        <a href="<%= article.slug %>" class="btn btn-success">Ler</a>
      </div>
    </div>
    <br />
    <% }) %>

    <div class="row">
      <div class="col col-12">
        <a style="float: right" href="/articles/page/2">Next>>></a>
      </div>

      <hr />
    </div>
    <hr />
  </div>
</body>

<%- include('partials/footer.ejs');%>
